div
  div(class="panel panel-default col-md-7")
    div(class="panel-body")
      table(class="table")
        tr(ng-repeat="message in chatController.messages")
          td(class="col-md-1") {{message.formatted}}
          td(class="col-md-2") {{message.author}}
          td(class="col-md-5") {{message.msg}}
          td(class="col-md-3")
            div(class="btn-group")
              label(class="btn btn-default" ng-model="radioModel" uib-btn-radio="'{{message.id}}Q'" ng-click="chatController.selectMessage(message, 'question', $event)" uncheckable)
                | Q
              label(class="btn btn-default" ng-model="radioModel" uib-btn-radio="'{{message.id}}A'" ng-click="chatController.selectMessage(message, 'answer', $event)" uncheckable)
                | A



